<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport"
     content="width=device-width, initial-scale=1, user-scalable=yes">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <title>Ajout</title>
</head>
<body>
    <div class="container-fluid">
        <h1>Ajout animal</h1>
        <a href="{{ path('app_animal_index') }}">Retour à la liste</a>

        {{ form(form) }}
    </div>
</body>
</html>
